body {
    margin-left: 100px;
    margin-right: 100px;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}

h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #d04f4f;
    margin-bottom: 17px;
}

a {
    cursor: pointer;
}

.search-bar {
    display: flex;
    width: 100%;
    height: 69px;
    margin-bottom: 25px;
}

.form-search {
    position: relative;
    width: 100%;
    height: 100%;
}

input {
    outline: none;
}

.input-search {
    width: 100%;
    height: 100%;
    border-width: 1px;
    background: #e7e7e7;
    border-radius: 5px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 24px;
}

.input-search::placeholder {
    opacity: 0.25;
}

.fa-search {
    position: absolute;
    right: 1%;
    bottom: 30%;
    font-size: 32.06px;
}

.filter {
    margin-bottom: 25px;
}

.filter_view {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.view_ing {
    display: flex;
    min-width: 107px;
    min-height: 37px;
}

.view_ing p {
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 10px ;
    padding-left: 20px;
    padding-right: 13px;
    background: #3282f7;
}

.view_app {
    display: flex;
    min-width: 107px;
    min-height: 37px;
}

.view_app p {
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 10px ;
    padding-left: 20px;
    padding-right: 13px;
    background: #68D9A4;
}

.view_usts {
    display: flex;
    min-width: 107px;
    min-height: 37px;
}

.view_usts p{
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 10px ;
    padding-left: 20px;
    padding-right: 13px;
    background: #ED6454;
}

.fa-circle-xmark {
    color: white;
    font-size: 20px;
}

.close_tag_ing,
.close_tag_app,
.close_tag_usts {
    cursor: pointer;
    padding-left: 13px;
}

.filter_container {
    display: flex;
}

.filter_container_ingredients {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.filter_container_appliance {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.filter_container_ustensils {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#angle-down-ingredients {
    position: absolute;
    left: 240px;
    top: 320px;
    color: white;
}

#angle-up-ingredients {
    display: none;
    position: absolute;
    left: 700px;
    top: 320px;
    color: white;
}

#angle-down-appliance {
    position: absolute;
    left: 430px;
    top: 320px;
    color: white;
}

#angle-up-appliance {
    display: none;
    position: absolute;
    left: 900px;
    top: 320px;
    color: white;
}

#angle-down-ustensils {
    position: absolute;
    left: 620px;
    top: 320px;
    color: white;
}

#angle-up-ustensils {
    display: none;
    position: absolute;
    left: 1100px;
    top: 320px;
    color: white;
}

.close_search_ingredients,
.open_search_ingredients,
.close_search_appliance,
.open_search_appliance,
.close_search_ustensils,
.open_search_ustensils {
    cursor: pointer;
}

.filter_search {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    caret-color: transparent;
    cursor: pointer;
}

.filter_search::placeholder{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
    padding-left: 15px ;
}

.filter_search_list {
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    padding-bottom: 27px;
    padding-top: 22px;
}
.filter_search_list::placeholder{
    color: white;
    opacity: 0.5;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-left: 19px;
}
.list_ingredients {
    width: 647px;
    z-index: 2;
    position: absolute;
    top: 360px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 0px;
    margin-bottom: 0px;
    padding-left: 19px;
    color: #FFFFFF;
}

.list_appliance {
    width: 647px;
    z-index: 2;
    position: absolute;
    top: 360px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 0px;
    margin-bottom: 0px;
    padding-left: 19px;
    color: #FFFFFF;
}

.list_ustensils {
    width: 647px;
    z-index: 2;
    position: absolute;
    top: 360px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 0px;
    margin-bottom: 0px;
    padding-left: 19px;
    color: #FFFFFF;
}

.ingredients {
    background: #3282f7;
}

.appliance {
    background: #68D9A4;
}

.ustensils {
    background: #ED6454;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-bottom: 100px;
}

.card-body {
    background: #e7e7e7;
}

.card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-recipe-name {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.card-recipe-time {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.card-main {
    display: flex;
    justify-content: space-between;
}

.card-list-ingredients {
    max-width: 48%;
}

.card-recipe-ingredients {
    width: 100%;
    display: flex;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-recipe-ingredients-unit {
    font-weight: 400;
}

.card-recipe-description {
    max-width: 50%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}